<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1585647347384-2593bc35786b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80)">
  <%= @list.name %>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
      <h4>(<%= @list.movies.count %>) movies found</h4>
    </div>
    <div class="col-3">
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-red" %>
    </div>
        <div class="col-3">
      <%= link_to "Delete this list", list_path(@list), class: "btn btn-red", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the #{@list.name} list?" } %>
    </div>
    <div class="col-12 my-4">
      <% @list.movies.each do |movie|  %>
        <div class="card-product">
          <%= image_tag movie.poster_url, alt: "#{movie.title}"%>
          <div class="card-product-infos">
            <h2><%= movie.title %> - <%= movie.rating%> <i class="fa-sharp fa-solid fa-star"></i></h2>
            <p><%= movie.overview %></p>
            <div class="d-flex justify-content-center">
              <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
              <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>(<%= @list.reviews.count%>) reviews</h3>
      <% @list.reviews.each do |review| %>
        <div class="py-2">
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <p class="mb-0"><%= review.comment %></p>
          <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment from the #{@list.name} list?"}, class: 'text-danger' do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>
      <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Add a review:</h3>
      <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating, as: :select, collection: (1..5), required: true, label: "Rate this list", input_html: {data: {controller: "star-rating"}} %>
        <%= f.submit "Validate the review", class:"btn btn-flat" %>
      <% end %>
    </div>
  </div class="my-5">
</div>
