<h1>Add a movie on our "<%= @list.name %>" list</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :movie, collection: Movie.all %>
  <%= f.input :comment %>
    <%# <%= f.association :tag %>
    <%= f.submit "Add movie", class: 'btn btn-primary' %>
<% end %>

<%= link_to "Back to our list", list_path(@list) %>
